@mixin pattern($bg-primary, $bg-secondary) {
    background: repeating-linear-gradient( -45deg, transparent, transparent 1em, rgba($bg-secondary, 0.4) 0, rgba($bg-secondary, 0.1) 2em, transparent 0, transparent 1em, rgba($bg-secondary, 0.3) 0, rgba($bg-secondary, 0.2) 4em, transparent 0, transparent 1em, rgba($bg-primary, 0.6) 0, rgba($bg-primary, 0.2) 2em), repeating-linear-gradient( 45deg, transparent, transparent 1em, rgba($bg-secondary, 0.4) 0, rgba($bg-secondary, 0.1) 2em, transparent 0, transparent 1em, rgba($bg-secondary, 0.3) 0, rgba($bg-secondary, 0.2) 4em, transparent 0, transparent 1em, rgba($bg-primary, 0.4) 0, rgba($bg-primary, 0.1) 2em), #FFF;
    background-blend-mode: multiply;
}

.header {
    background-color: skyblue;
    @include pattern(#c0ebfa, #7FD7F5);
}

.cloud,
.cloud_two {
    animation: move 6s ease infinite;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -30px;
    margin-left: -30px;
    background: #FFFFFF;
    height: 60px;
    width: 60px;
    box-shadow: #FFFFFF 65px -15px 0 -5px, #FFFFFF 25px -25px, #FFFFFF 30px 10px, #FFFFFF 60px 15px 0 -10px, #FFFFFF 85px 5px 0 -5px;
}

.cloud_two {
    animation-duration: 8s;
    left: calc(50% + 100px);
}

.fadein {
    animation: fadein 4s, move 6s ease infinite;
}

@keyframes move {
    50% {
        transform: translateY(-15px);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}