.protection-screen {
    height: 100vh;
    width: 100vw;
    z-index: 998;
    background-color: skyblue;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
}

.cloud {
    animation: move 6s ease infinite;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -30px;
    margin-left: -30px;
    background: #FFFFFF;
    height: 60px;
    width: 60px;
    box-shadow: #FFFFFF 65px -15px 0 -5px, #FFFFFF 25px -25px, #FFFFFF 30px 10px, #FFFFFF 60px 15px 0 -10px, #FFFFFF 85px 5px 0 -5px;
    cursor: pointer;
    p {
        position: absolute;
        right: 43px;
        width: 73px;
        margin-right: -94px;
        margin-top: 14px;
    }
}

@keyframes move {
    50% {
        transform: translateY(-15px);
    }
}

@keyframes moveup {
    100% {
        top: 6rem;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
}

.hide-screen {
    animation: fadeout 1.5s ease forwards;
    animation-delay: 1.5s;
}

.hide-cloud {
    animation: moveup 1.5s ease forwards;
}