<div class="footer">
    <ul>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="https://www.github.com/AMostafaH/" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
        <li><a href="https://www.linkedin.com/in/AMostafaH/" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
        <li><a href="https://www.codepen.com/" target="_blank"><i class="fa fa-codepen fa-fw"></i></a></li>
    </ul>
    <p>Made by <a style="cursor: pointer;" href="https://andynope.com" target="_blank" rel="noopener noreferrer">AndyNope.com</a></p>
</div>